@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text&display=swap');

:root{
    --fond-principal : #18332E; 
    --fond-secondaire : #182633;
    --fond-tertiaire : #181933;
    --texte-titre : #E4A72D;
    --decorations : #9F2421;
    --texte-principal : #EBEBEB;
    --fond-image : #2B3844;

    --police-titre : 'Fanwood Text', serif;
    --police-texte : 'Mukta', sans-serif;
}
*{
    margin : 0;
    padding:0;
}

body{
    background-color: #21453F;
}
.page {
    display: flex;
    flex-direction: column;
    gap : 28px;
    width: 100%;
}
.carte{
    display: flex;
    flex-direction: row;
    padding: 28px;
    border-radius: 28px;
    width: 70%;
}
.cartesec{
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    padding: 28px;
    border-radius: 28px;
    width: 70%;
}
.coteimg{
    display: flex;
    padding: 32px;
    background : #2B3844;
    border-radius: 15px 0px 0px 15px;
    width: 70%;
}
.coteimgsec{
    display: flex;
    padding: 32px;
    background : #2B2C44;
    border-radius: 0px 15px 15px 0px;
    width: 70%;
}
img{
    width:100%;
    border-radius: 15px;
}

a{
    text-decoration: none;
    color: var(--texte-titre);
}
a:visited{
    text-decoration: none;
    color: var(--texte-titre);
}
a:hover{
    text-decoration: none;
    color: var(--texte-titre);
}
a:active{
    text-decoration: none;
    color: var(--texte-titre);
}
.cartesec>a{
    display: flex;
    flex-direction: row-reverse;
}
.carte>a{
    display: flex;
}
.nomdescr{
    display: flex;
    flex-direction: column;
    background-color: var(--fond-secondaire);
    border-radius: 0px 15px 15px 0px;
    padding: 30px 32px 30px 38px;
    width: 100%;
}
.nomdescrsec{
    display: flex;
    flex-direction: column;
    background-color: var(--fond-tertiaire);
    border-radius: 15px 0px 0px 15px;
    padding: 30px 32px 30px 38px;
    width: 100%;
}
.partietexte{
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.titreetoile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.titre{
    font-family: var(--police-titre);
    color: var(--texte-titre);
    font-size: 40px;
}
.etoile{
    font-family: var(--police-titre);
    color:var(--texte-titre);
    font-size: 40px;
}
.descr{
    font-family: var(--police-texte);
    font-size: 20px;
    color: var(--texte-principal);
}
.bloccarte{
    display: flex;
    align-items: flex-start;
}
.bloccarted{
    display: flex;
    justify-content: flex-end;
}
.header{
    background-color: var(--fond-principal);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 35px;

    padding-right: 70px;
    font-size: 40px;
    height:130px;
}
.nomsite{
    font-family: var(--police-titre);
    color: var(--texte-titre);
    font-size: 85px;
    letter-spacing: 0.05em;
    align-self: last baseline;
}
.contactetpropos{
    font-family: var(--police-titre);
    display: flex;
    flex-direction: row;
    align-self: last baseline;
    color: var(--texte-titre);
    gap : 50px;
}
nav.container ul{
    font-family: var(--police-titre);
    color: var(--texte-titre);
    font-size: 40px;
    display: flex;
    flex-direction: row;
    background-color: var(--fond-tertiaire);
    height:65px;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding-left: 300px;
    padding-right: 300px;
}
.bar{
    box-sizing: border-box;
    border-bottom: 5px solid #9F2421;
}


.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: pink;
    background-color: pink;
    border-radius: 10px;
    width: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.popup h2 {
    display: flex;
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06D85F;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px){
.box{
    width: 70%;
}
.popup{
    width: 70%;
}
}
.imageName{
    color : #33544e;
    display: flex;
    padding-top: 30px;
    text-align: center;
    flex-direction: column;
    height: 40%;
}
.imageName>.image{
    width: 50%;
    align-self: center;
}
.titretoile{
    display: flex;
    flex-direction: row;
}
.imageName>.titre{
    font-size: 96px;
    text-align: center;
}