@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text&display=swap');

:root{
    --fond-principal : #18332E; 
    --fond-secondaire : #182633;
    --fond-tertiaire : #181933;
    --texte-titre : #E4A72D;
    --decorations : #9F2421;
    --texte-principal : #EBEBEB;
    --fond-image : #2B3844;

    --police-titre : 'Fanwood Text', serif;
    --police-texte : 'Mukta', sans-serif;
}
*{
    margin : 0;
    padding:0;
}

body{
    background-color: #21453F;
}
.page {
    display: flex;
    flex-direction: column;
    gap : 28px;
    width: 100%;
}
.carte{
    display: flex;
    flex-direction: row;
    padding: 28px;
    border-radius: 28px;
    width: 70%;
}
.cartesec{
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    padding: 28px;
    border-radius: 28px;
    width: 70%;
}
.coteimg{
    display: flex;
    padding: 32px;
    background : #2B3844;
    border-radius: 15px 0px 0px 15px;
    width: 70%;
}
.coteimgsec{
    display: flex;
    padding: 32px;
    background : #2B2C44;
    border-radius: 0px 15px 15px 0px;
    width: 70%;
}
img{
    width:100%;
    border-radius: 15px;
}
.nomdescr{
    display: flex;
    flex-direction: column;
    background-color: var(--fond-secondaire);
    border-radius: 0px 15px 15px 0px;
    padding: 30px 32px 30px 38px;
    width: 100%;
}
.nomdescrsec{
    display: flex;
    flex-direction: column;
    background-color: var(--fond-tertiaire);
    border-radius: 15px 0px 0px 15px;
    padding: 30px 32px 30px 38px;
    width: 100%;
}
.partietexte{
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.titreetoile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.titre{
    font-family: var(--police-titre);
    color: var(--texte-titre);
    font-size: 40px;
}
.etoile{
    font-family: var(--police-titre);
    color:var(--texte-titre);
    font-size: 40px;
}
.descr{
    font-family: var(--police-texte);
    font-size: 20px;
    color: var(--texte-principal);
}
.bloccarte{
    display: flex;
    align-items: flex-start;
}
.bloccarted{
    display: flex;
    justify-content: flex-end;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 35px;
    padding-top: 29px;
    padding-right: 70px;
    font-size: 40px;
    height:100px;
}
.nomsite{
    font-family: var(--police-titre);
    color: var(--texte-titre);
    font-size: 85px;
    letter-spacing: 0.05em;
    align-self: last baseline;
}
.contactetpropos{
    font-family: var(--police-titre);
    display: flex;
    flex-direction: row;
    align-self: last baseline;
    color: var(--texte-titre);
    gap : 50px;
}
nav.container ul{
    display: flex;
    flex-direction: row;
}